<form class="form-horizontal" novalidate ng-submit="submit()" ng-controller="AddCtrl">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-4">
      <input type="text" ng-model="newVegetable.LearnerName" class="form-control"  placeholder="User Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputGroup" class="col-sm-2 control-label">Group</label>
    
 <div class="col-sm-4 ">
<!--  <select class="form-control" ng-init="newVegetable.GroupId=1"ng-model="newVegetable.GroupId">
 <option ng-repeat="item in groups" 
					ng-value="{{item.GroupId}}" ng-selected="{{item.GroupId==newVegetable.GroupId}}">{{item.groupName}} </option> -->
<select class="form-control" ng-options="value.GroupId as value.groupName for (key, value) in groups" ng-model="newVegetable.GroupId" ng-init="newVegetable.GroupId=1">					
</select>
</div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default"><i class=" glyphicon glyphicon-edit"></i>&nbsp;Save</button>
    </div>
  </div>