<div class="panel panel-info">
  <div class="panel-heading">
    <h9>Detailed Learner List</h9>
  </div>
  <div class="panel-body">
<form ng-controller="ListCtrl">
  <div class="row">
  	<div class="col-md-6">
	<div class="input-group">
      <!-- <div class="input-group-addon">GroupName</div>
      <select class="form-control" ng-model="keywordGroupID">
			<option ng-repeat="grp in groupList" 
			        ng-selected="{{grp.value==keywordGroupID}}"
					value="{{grp.GroupId}}">{{grp.groupName}}</option>
		</select> -->
   
      <input type="text" class="form-control" id="keyword" ng-model="keywordContent" placeholder="Learner ID">
      <a class="input-group-addon" style="cursor:pointer;margin" ng-click="query()"><span class=" glyphicon glyphicon-search"></span></a>
      <a class="input-group-addon" style="cursor:pointer;" ng-click="clearQuery()"><span class=" glyphicon glyphicon-remove"></span></a>
    </div>
   	</div>
   <!-- 	<div class="col-md-6">
    	<input type="text" class="form-control" id="keyword" ng-model="keywordContent" placeholder="keyword input">
   	</div> -->
    <div class="col-md-5">
    	<a class="btn btn-default" href='#/addpupil'><i class=" glyphicon glyphicon-plus"></i>&nbsp;Create</a>
    	<button class="btn btn-default" ng-click="checkEdit()"><i class=" glyphicon glyphicon-edit"></i>&nbsp;Update</button>
    	<button class="btn btn-default" ng-click="delete()" ><i class=" glyphicon glyphicon-trash"></i>&nbsp;Delete</button>
      <button class="btn btn-default" ng-click="refresh()" ><i class=" glyphicon glyphicon-refresh"></i>&nbsp;Refresh</button>
      <button class="btn btn-default" ng-click="help()" ><i class=" glyphicon glyphicon-question-sign"></i>&nbsp;About</button>
    </div>
  </div>
  </br>
  <div class="row">
	<div class="col-md-12">
		<div ui-grid="gridOptions"  ui-grid-selection ui-grid-pagination></div>
	</div>
  </div>
</form>
</div>
</div>
<br/>
